.nav {
  width: 100%;
  background-color: darkgrey;
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}
body {
  margin: 0;
}
.upwards {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
}

.upchoice {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  width: 100%;
  length: 100%;
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
}

.box:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.box:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.box:nth-of-type(3) {
  grid-column: 2/2;
  grid-row: 2/2;
}
